<script src="__INDEX__/templates/zh/en/js/bootstrap.js" type="text/javascript"></script>
<link href="__INDEX__/templates/zh/en/css/bootstrap.css" type="text/css" rel="stylesheet"/>
{include file="public/title"}<!--   导入头部  -->
<link rel="shortcut icon" href="__IMG__/lightweb/{$sys.logo1}">
<link href="__INDEX__/templates/zh/en/css/pageEdit_style.css" type="text/css" rel="stylesheet"/><!-- 分页样式修改 -->
<link rel="shortcut icon" href="__IMG__/lightweb/{$sys.logo1}">
<script>
    $(document).ready(function () {

        $('.pro_part').mousemove(function () {
            $(this).find('.pro_cc').slideDown(300);
            $(this).find('.pro_tt').slideUp(300);
        });
        $('.pro_part').mouseleave(function () {
            $(this).find('.pro_cc').slideUp(300);
            $(this).find('.pro_tt').slideDown(300);
        });

    });
</script>

<body oncopy="document.selection.empty()" onselect="document.selection.empty()">

<style>
    #jiathis_weixin_share {
        display: none;
    }
</style>
<script>
    function qrshow() {
        var weixin = document.getElementById("jiathis_weixin_share")
        weixin.style.display = "block";
    }

    function qrhide() {
        var weixin = document.getElementById("jiathis_weixin_share")
        weixin.style.display = "none";
    }
</script>
<div id="jiathis_weixin_share" style="position: fixed; z-index: 10000000001;">
    <div id="jiathis_weixin_modal"
         style="background-clip: padding-box;background-color: #FFFFFF;border: 1px solid rgba(0, 0, 0, 0.3);  border-radius: 6px 6px 6px 6px;  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); left: 50%; margin: -200px 0 0 -200px;overflow: hidden; position: fixed; top: 50%; width:360px;height:360px; overflow:hidden; border:1px solid #999;"
         class="jiathis_weixin_modal">
        <div class="jiathis_modal_header" id="jiathis_modal_header"
             style="border-bottom: 1px solid #EEEEEE; padding: 9px 15px;">
            <a style="text-decoration:none;  margin-top: 2px; color: #000000; float: right;  font-size: 20px;  font-weight: bold; cursor:pointer;line-height: 20px; opacity: 0.2; text-shadow: 0 1px 0 #FFFFFF;"
               class="jiathis_weixin_close" id="jiathis_weixin_close" onclick="qrhide()" target="_self">×</a>
            <h3 id="jiathis_weixin_h3" style=" line-height: 30px; margin: 0; font-weight:normal;">
                Share to wechat
            </h3>
        </div>
        <div class="jiathis_modal_body" id="jiathis_modal_body" style="text-align:center;height:251px;">
            <p id="jiathis_webchat">
                <img src="__INDEX__/templates/zh/en/images/qrcode.jpg" width="220" height="220" alt="二维码加载失败..."
                     style="margin-top: 15px;">
            </p>
        </div>
        <div class="jiathis_modal_footer" id="jiathis_modal_footer"
             style="border-radius: 0 0 6px 6px; border-top: 1px solid #DDDDDD; box-shadow: 0 1px 0 #FFFFFF inset; height:100%;padding:0 10px;padding-top:11px;text-align: right; font-size:12px;">
            <div id="jiathis_weixin_tip" style="text-align:left;margin:0; padding:0;font-size:12px;">
                Open wechat app, Click "find" on the bottom and Scan the QR code.
            </div>
        </div>
    </div>
</div>

{include file="public/top"}

<div id="page">


    <div >

        <div class="pro_page">
            {volist name="prosData" id="data"}
            <div class="pro_part" id="c">
                <div class="pro_bb">
                    <div class="pro_aa"><a href="{:url('msg/index',array('id'=>$data.id))}">&nbsp;</a></div>
                    <div class="pro_img"><img src="__IMG__/lightweb/{$data.thumb1}"/></div>
                    <div class="pro_tt">{$data.keys}</div>
                    <div class="pro_cc">
                        <div class="pad">
                            <p>{$data.keys}</p>
                            <div>{$data.desc}</div>
                        </div>
                    </div><!--pro_cc-->
                </div><!--pro_bb-->
            </div><!--pro_part-->
            {/volist}
            <div class="clear"></div>

        </div><!--pro_page-->

        <table align="center">
            <tr>
                <td>
                    <table class='pagelist'>
                        <!--<tr>-->
                        <!--<td><a href='#' class='aa'>1</a></td>-->
                        <!--<td ><a href='products98e3.html?id=5&amp;fid=&amp;pageid=2' class='bb'>2</a></td>-->
                        <!--<td ><a href='productsb3ec.html?id=5&amp;fid=&amp;pageid=3' class='bb'>3</a></td>-->
                        <!--<td ><a href='products5acb.html?id=5&amp;fid=&amp;pageid=4' class='bb'>4</a></td>-->
                        <!--<td ><a href='products6b00.html?id=5&amp;fid=&amp;pageid=5' class='bb'>5</a></td>-->
                        <!--<td ><a href='products309a.html?id=5&amp;fid=&amp;pageid=6' class='bb'>6</a></td>-->
                        <!--<td ><a href='products98e3.html?id=5&amp;fid=&amp;pageid=2' class='page_back'></a></td>-->
                        <!--</tr>-->

                        {$prosData->render()}
                    </table>
                </td>
            </tr>

        </table>
        <div class="clear"></div>

    </div><!--right-->
</div><!--page-->

{include file="public/low"}

</body>

<!-- Mirrored from www.designerchandelier.cn/products.php by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 07 Mar 2018 13:16:52 GMT -->
</html>